# Swift
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
Package.resolved

# Rust
/target/
**/*.rs.bk
Cargo.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll
*.exe

.env
